# TypeScript
*.tsbuildinfo

# Package manager caches
.npm
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.pnp.*

# Lint/styling caches
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Environment files
.env
.env.*
!.env.example

# Vite config timestamps
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Build outputs
dist
dist-ssr
.next
out
.nuxt
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
